
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="cn-ZH">

<head>
    <title>我的Kindle书推</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->

    <!--/Style-CSS -->
    <link rel="stylesheet" href="static/index/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="static/index/css/font-awesome.min.css" type="text/css" media="all">
    <meta name="baidu-site-verification" content="code-11ZZ6JG2tM" />

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Tokey，欢迎使用Kindle小说推送服务!</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="static/index/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="content-wthree">
                        <h2>小说搜索</h2>
                        <form action="/search" method="post" target="_blank">
                            <input type="text" class="text" name="bookname" placeholder="书名">
                            <input type="text" class="text" name="author" placeholder="作者（可选）">
                            <select name="approach" size="1" required>
                                <option value="way1">请选择数据来源</option>
                                <option value="way1">采墨阁(caimoge)---搜索快，书籍少</option>
                                <option value="way2">奇书网(kankezw)---书库全，搜索慢</option>
                            </select>
                            <button class="btn" type="submit">搜索</button>
                        </form>
                        
                        <p class="account">Don't have an account? <a href="#signup">Register</a></p>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
            <b class="motto">{{ motto }}</b>
            <p class="copy-footer-29">© 2021 Kindle小说推送系统. All rights reserved | Design by <a
                        href="https://w3layouts.com">W3layouts</a></p>
            <p class="copy-footer-29"><a href="https://beian.miit.gov.cn/">皖ICP备20005834号-2</a> </p>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>